<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ photoUrl }}" />
  <div class="card-body">
    <div>
      <strong>Teile Nr:</strong>
      <p>{{ teile?.teilenr }}</p>
    </div>
    <div>
      <strong>Teile Name 1:</strong>
      <p>{{ teile?.teilebez_1 }}</p>
    </div>
    <div>
      <strong>Teile Name 1:</strong>
      <p>{{ teile?.teilebez_2 }}</p>
    </div>
    <div>
      <strong>Number Name:</strong>
      <p>{{ teile?.nr_bez }}</p>
    </div>
    <div>
      <strong>Teile Article:</strong>
      <p>{{ teile?.teileart }}</p>
    </div>
  </div>
</div>
