<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ teile?.url }}" />
  <div class="card-body">
    <div>
      <strong>Id:</strong>
      <p>{{ teile?.id }}</p>
    </div>
    <div>
      <strong>Album Id:</strong>
      <p>{{ teile?.albumId }}</p>
    </div>
    <div>
      <strong>Title:</strong>
      <p>{{ teile?.title }}</p>
    </div>
    <div>
      <strong>Url:</strong>
      <p>{{ teile?.url }}</p>
    </div>
    <div>
      <strong>Thumbnail Url:</strong>
      <p>{{ teile?.thumbnailUrl }}</p>
    </div>
  </div>
</div>
