<div class="row">
  <div class="col-3">
    <teile-details [teile]="teile"></teile-details>
  </div>
  <div class="col">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th *ngFor="let col of columns">
            <div *ngIf="col.isSortable" (click)="sortBy(col.key)">
              {{ col.title }}
              <i
                *ngIf="query.sortBy === col.key"
                class="fa"
                [class.fa-sort-asc]="query.isSortAscending"
                [class.fa-sort-desc]="!query.isSortAscending"
              ></i>
            </div>
            <div *ngIf="!col.isSortable">{{ col.title }}</div>
          </th>
        </tr>
      </thead>
      <div class="center-screen" *ngIf="showSpinner">
        <app-spinner></app-spinner>
      </div>
      <tbody *ngIf="teileList">
        <tr
          *ngFor="let v of teileList; let i = index"
          (click)="rowSelected(v, i)"
          [class.active]="i == selectedRow"
        >
          <td>{{ v.teilenr }}</td>
          <td>{{ v.teilebez_1 }}</td>
          <td>{{ v.teilebez_2 }}</td>
          <td>{{ v.nr_bez }}</td>
          <td>{{ v.teileart }}</td>
        </tr>
      </tbody>
    </table>

    <div class="text-center">
      <pagination
        *ngIf="pagination"
        [(ngModel)]="pagination.currentPage"
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="5"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </div>
</div>
